* {
  margin: 0;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

li {
  list-style: none;
}

select,
input,
button {
  background: none;
  border: none;
}

body {
  background-color: #fff7e3;
}

.app {
  height: 100%;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* header */
.banner {
  width: 100%;
  padding: 70px 0 20px;
  border-bottom: 2px dashed #025955;
  text-align: center;
  /* background-color:rgb(2, 89, 85, 0.5); */
}

.banner_title {
  font-size: 2.5rem;
}

.controls {
  width: 90%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
}

.control {
  width: 23%;
  padding: 10px 0;
  background-color: #025955;
  border-radius: 5px;
}

.control_btn {
  font-size: 1.3rem;
  color: #efefef;
}

/* document */
.document {
  height: 100%;
}

.page {
  width: 90%;
  margin: 40px auto 0;
}

/* document / page_item */
.page_item {
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.page_item_controls {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

/* document / page_item_body */
.page_item_body > .item {
  display: flex;
  justify-content: space-between;
}

.holder {
  width: 43%;
  background-color: green;
}

.text {
  width: 55%;
  font-size: 1.2rem;
  color: #482c06;
}

.text .title {
  padding-top: 10px;
  font-size: 1.4em;
}

.text .info {
  padding-top: 10px;
  font-size: 0.9em;
}

/* place */
.place_address {
  display: flex;
  padding-top: 5px;
  font-size: 0.8em;
}
.place_address .pin {
  padding-right: 5px;
  color: #022422;
}

/* dialog */
.dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.45);
}

#dialog_body {
  max-width: 810px;
  width: 50%;
  padding: 10px;
  height: 300px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  background-color: #efefef;
}

.comment_title {
  color: #025955;
}
.comment_input {
  border: 1px solid #aaa;
  border-radius: 5px;
}

.close,
.dialog_submit {
  cursor: pointer;
  position: absolute;
}

.close {
  right: 10px;
  top: 10px;
}

.dialog_submit {
  padding: 5px 10px 2px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #025955;
  color: #025955;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #fff7e3;
}

/* footer */
.footer {
  padding: 7px 5%;
  background-color: #022422;
  color: #efefef;
  font-size: 0.6rem;
}

/* icons */
.fa-times {
  color: #025955;
}
